name: Pull Request CI

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Install Docker Compose
      run: sudo apt-get update && sudo apt-get install -y docker-compose
    - name: Start Docker Compose
      run: docker-compose up -d
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: clean build
    - name: Stop Docker Compose
      run: docker-compose down
